.header {
    top: 0;
    position: fixed;
    z-index: 100;
    padding: 0.8rem;
    width: 100vw;
    background: rgba(255, 255, 255, 0.95);
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
    padding: 0 2rem;
}
.header_inner svg {
    width: 16rem;
}
.selectbox_language {
    position: fixed;
    top: 0;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    position: relative;
    width: 14rem;
    padding: 0.8rem 0;
    cursor: pointer;
}
.selectbox_language .language_list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    display: none;
    padding: 0.8rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0.2rem 0.2rem 0.9rem var(--box-shadow);
}
.selectbox_language:hover .language_list {
    display: block;
}
.selectbox_language li {
    color: var(--gray-30);
    padding: 0.4rem 1.2rem;
}
.selectbox_language .selected {
    color: var(--gray-100);
}

/*
* toggle visible
*/
header.visible {
    top: 0;
    transition: top 0.4s ease-out;
}
header.hidden {
    top: -8rem;
    transition: top 0.4s ease-out;
}

div.visible {
    display: flex;
}
div.hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .header_inner svg {
        width: 22rem;
    }
}