/*
* Variable
*/
:root {
	/* size */
	--max-width: 120rem;

	/* color */
	--primary-blue-100: #186CE8;
	--primary-blue-80: #4689ED;
	--primary-blue-55: #80AEF3;
	--primary-blue-30: #BAD3F9;
	--primary-blue-5: #F3F7FE;
	--navy-100: #002060;
	--gray-100: #041B3C;
	--gray-80: #364963;
	--gray-55: #758294;
	--gray-30: #B4BBC5;
	--gray-5: #F2F3F5;

	/* box-shadow */
	--box-shadow: rgba(4, 27, 60, .1);
}

/*
* Initialize
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	color: var(--gray-100);
	vertical-align: baseline;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    font-size: 62.5%;
}
body * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Scrollbar Style
*/
::-webkit-scrollbar {
	display: none;
}

/*
* Heading style
*/
.heading-1 {
	font-weight: 700;
	font-size: 4.8rem;
}